

.principal-home{
    @media (min-height: 20px) and (max-height: 607px) {
        height: calc(65vh); 
      }
    
      @media (min-height: 608) and (max-height: 739px){
        height: calc(55vh); 
      }
    
      @media (min-height: 740px) {
        height: calc(75vh); 
      }
    width: 100%;
    background-color: antiquewhite;
    border-width: 2px;
    border-color: black;
    border-style: dotted;
    height: calc(87vh)
  }
  
 
  .principal-home-sub{
    display: grid;
    grid-template-columns: 35% 65%; 
    
    
    
  
    @media (min-height: 20px) and (max-height: 607px) {
      height: calc(65vh); 
    }
  
    @media (min-height: 608) and (max-height: 739px){
      height: calc(55vh); 
    }
  
    @media (min-height: 740px) {
      height: calc(75vh); 
    }
    
  }
 
  