.elementop{
    word-wrap: break-word;
    
}

.content-correo{
    height: 260px;
    padding-top: 5%;
    
}

.content-correo-enviando{
    height: 260px;
    padding-top: 0%;
}

.content-codigo{
    padding-top: 10%;
    height: 260px;
    
}
.content-procesar{
    padding-top: 7%;
    height: 260px;
    
}
.principal-cambio-password{
    width: 75%;
    padding-left: 10%;
    padding-top: 20px;
}

.content-spin {
    padding: 50px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
  }


  .oscurecer-contenido-correo {
    /* position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    color: white; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */

    /* position: absolute; */
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999999; 
  }