.elementop{
    word-wrap: break-word;
    
}

.content-correo{
    height: 260px;
    padding-top: 5%;
}

.content-codigo{
    height: 260px;
    
}

.principal-cambio-password{
    width: 75%;
    padding-left: 10%;
    padding-top: 20px;
}