.tituloform {
    text-decoration: underline;
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 10px;
  }


.principal-gastos{
  height: calc(89vh - 9px);
  overflow-y: auto;
  width: 100%;
    
}