:root {
    --color-contenedores: #E5E5E5; /* color de mis contenedores */
    --color-letrasBotones: white;  
    --color-letrasLabel : black;
    --color-efectoHover : #C81748;
    /*1° --color-botonesContenedores :rgb(231, 233, 232); */
    /*2° --color-botonesContenedores :rgb(166, 184, 130); */
    --color-botonesContenedores :rgb(182, 212, 212);
    --color-navbarant :rgb(154, 230, 193);
  }
  /* Estilos para el contenedor del menú */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    padding: 1.25rem 2rem;
    font-size: 1rem;
    font-weight: lighter;
    background-color: var(--color-botonesContenedores);  
  }
  .navbarant{
    background-color: var(--color-botonesContenedores);  
    height:50px;
    color: var(--color-contenedores);
  }
 
  .nombreuser{
    font-size: large;
    font-style: italic;
    font-weight: bold;
    /* padding-left: 10px; */
    /* padding-right: 100px; */
    color: black;

  }

  .contenedor-drow{
    background-color: var(--color-botonesContenedores);
    height:50px;
    display: flex;
    align-items: center;
    width: 8%;
  }