.contenedor-principal-ingreso{
    height: 100%;
    width: 100%;
    overflow: hidden;

    /* background-color: aquamarine;
    border-width: 1px;
    border-color: black;
    border-style: dotted; */
    
}


.titulo-grafico-ingreso {
    text-decoration: underline;
    position: absolute;
    z-index: 1
    /* margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 10px; */
  }

  .contenedor-imagen-ingreso {
    position: relative;
    width: 100%;
    height: 100%; /* Establece la altura del div */
    overflow: hidden; /* Oculta el contenido que se desborda */
  }


  .imagen-ingreso {
    width: 100%;
    height: auto; /* La altura se ajustará automáticamente */
    display: block;
    margin-top: 30px;
  }