.contenedor-flex-estadistica-periodo {
    display: flex;
    gap: 20px;
    margin-top: 5px;
    margin-left: 50px;
    /* justify-content: center; */    
    width: 100%;
    height: 400px;
    
  }

  .contenedor-estadistica-periodo-texto{
    width: 30%;
    margin-top: 10%;
    margin-left: 20px;
    height: 300px;
  }


  .contenedor-imagen-periodo {
    
    width: 70%; /* Puedes ajustar el valor según tus necesidades */
    height: 400px; /* Puedes ajustar el valor según tus necesidades */
    
    /* border: 1px solid #ccc; */
    /* overflow: hidden; */
  }

  .imagen-periodo {
    width: 100%;
    height: 100%;
    object-fit:contain;
    margin-left: -20%;
  }