.botonera{
    background-color:rgb(182, 212, 212) ;
    width: 180px;
    height: 30px;
    color: black;
    font-size: 14px;

    
}
.tabla_general{
    /* height: calc(93vh - 57%) */
    height: calc(93vh -  37%);
}